<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="app.css">
    <title>Instagram App</title>
</head>
<body>
    <section>
        <section class="header__section">
         <div class="container">
          <header class="header">
            <h2 class="header__head"><i class='bx bxl-instagram-alt'></i> Instagram </h2>
            <div class="input__box">
                <input class="header__input" type="text" placeholder="found">
            </div>
              <div class="header__imgs">
                <i class='bx bxs-home'></i>
                <i class='bx bx-message-rounded-dots img2'></i>
                <i class='bx bxs-plus-square'></i>
                <i class='bx bx-shape-circle'></i>
                <i class='bx bx-heart-circle'></i>
                <img class="odil" src="http:/instagram-newap.herokuapp.com/img/odil.jpg" width="30" alt="">
              </div>
          </header>
        </div>
    </section> <!-- end of section -->
     <div class="container container__wrapp">
         <div class="box">
          <div class="wrapper">
            <div class="listim">
                <img class="wrapper__img" src="http:/instagram-newap.herokuapp.com/img/img1.jpg" width="70" height="70" alt="">
                <img class="wrapper__img" src="http:/instagram-newap.herokuapp.com/img/img2.jpg" width="70" height="70" alt="">
                <img class="wrapper__img" src="http:/instagram-newap.herokuapp.com/img/Abbos4.jpg" width="70" height="70" alt="">
                <img class="wrapper__img" src="http:/instagram-newap.herokuapp.com/img/img4.jpg" width="70" height="70" alt="">
                <img class="wrapper__img" src="http:/instagram-newap.herokuapp.com/img/img5.jpg" width="70" height="70" alt="">
                <img class="wrapper__img" src="http:/instagram-newap.herokuapp.com/img/Aziz2.jpg" width="70" height="70" alt="">
                <img class="wrapper__img" src="http:/instagram-newap.herokuapp.com/img/img7.jpeg" width="70" height="70" alt=""> 
            </div>
            <div class="aside__box">
                <div class="aside">
                    <div class="aside__head">
                        <div class="aside__wrapp">
                            <img class="odil aside__img" src="http://instagram-newap.herokuapp.com/img/Aziz2.jpg" width="50" height="50" alt="">
                            <h4 class="aside__title">Abdurashidov Azizbek</h4>
                            <div class="dots dots2">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                    <img class="wrapper__imgss" width="740" height="600" src="http://instagram-newap.herokuapp.com/img/Aziz4.jpg" alt="">
                    <div class="aside__footer">
                        <div class="aside__imgs">
                            <i class='bx bx-heart'></i>
                            <i class='bx bx-message-rounded'></i>
                            <i class='bx bx-navigation'></i>
                            <i class='bx bx-bookmark'></i>
                        </div>
                        <h4 class="aside__footer--title">Views: 40 500</h4>
                        <h6 class="aside__footer--text" >Abdurashidov Azizbek: <mark> Like bosamizza bolla 😀🦾</mark> </h6>
                        <div class="aside__foot">
                            <i class='bx bx-smile'></i>
                            <input class="aside__input" type="text" placeholder="comment....">
                            <p class="aside__foot--title">send</p>
                        </div>
                    </div>
                </div> <!--end of aside -->
                <div class="aside">
                    <div class="aside__head">
                        <div class="aside__wrapp">
                            <img class="odil aside__img" src="http://instagram-newap.herokuapp.com/img/odil.jpg" width="50" height="50" alt="">
                            <h4 class="aside__title">Odilbek developer</h4>
                            <div class="dots">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                    <img class="wrapper__imgss" width="740" height="600" src="http://instagram-newap.herokuapp.com/img/imgs2.jpg" alt="">
                    <div class="aside__footer">
                        <div class="aside__imgs">
                            <i class='bx bx-heart'></i>
                            <i class='bx bx-message-rounded'></i>
                            <i class='bx bx-navigation'></i>
                            <i class='bx bx-bookmark'></i>
                        </div>
                        <h4 class="aside__footer--title">Views: 16 500</h4>
                        <h6 class="aside__footer--text" >Odilbek developer: <mark>Dasturchilar uchun eng qulay sharoit ☜(ﾟヮﾟ☜)</mark> </h6>
                        <div class="aside__foot">
                            <i class='bx bx-smile'></i>
                            <input class="aside__input" type="text" placeholder="comment....">
                            <p class="aside__foot--title">send</p>
                        </div>
                    </div>
                </div> <!--end of aside -->
                <div class="aside">
                    <div class="aside__head">
                        <div class="aside__wrapp">
                            <img class="odil aside__img" src="http://instagram-newap.herokuapp.com/img/Saidbek4.jpg" width="50" height="50" alt="">
                            <h4 class="aside__title">Saidbek Atambayev</h4>
                            <div class="dots dots3">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                    <img class="wrapper__imgss" width="740" height="600" src="http://instagram-newap.herokuapp.com/img/Saidbek1.jpg" alt="">
                    <div class="aside__footer">
                        <div class="aside__imgs">
                            <i class='bx bx-heart'></i>
                            <i class='bx bx-message-rounded'></i>
                            <i class='bx bx-navigation'></i>
                            <i class='bx bx-bookmark'></i>
                        </div>
                        <h4 class="aside__footer--title">Views: 20 500</h4>
                        <h6 class="aside__footer--text" >Saidbek Atambayev : <mark> Like bosamizza bolla 😀🦾</mark> </h6>
                        <div class="aside__foot">
                            <i class='bx bx-smile'></i>
                            <input class="aside__input" type="text" placeholder="comment....">
                            <p class="aside__foot--title">send</p>
                        </div>
                    </div>
                </div> <!--end of aside -->
                <div class="aside">
                    <div class="aside__head">
                        <div class="aside__wrapp">
                            <img class="odil aside__img" src="http://instagram-newap.herokuapp.com/img/Abbos4.jpg" width="50" height="50" alt="">
                            <h4 class="aside__title">Abbos Abdullayev</h4>
                            <div class="dots">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                    <img class="wrapper__imgss" width="740" height="600" src="http://instagram-newap.herokuapp.com/img/Abbos2.jpg" alt="">
                    <div class="aside__footer">
                        <div class="aside__imgs">
                            <i class='bx bx-heart'></i>
                            <i class='bx bx-message-rounded'></i>
                            <i class='bx bx-navigation'></i>
                            <i class='bx bx-bookmark'></i>
                        </div>
                        <h4 class="aside__footer--title">Views: 5 500</h4>
                        <h6 class="aside__footer--text" >Abbos Abdullayev: <mark> Najot tam'lim markaizida coder 💻</mark> </h6>
                        <div class="aside__foot">
                            <i class='bx bx-smile'></i>
                            <input class="aside__input" type="text" placeholder="comment....">
                            <p class="aside__foot--title">send</p>
                        </div>
                    </div>
                </div> <!--end of aside -->
                <div class="aside">
                    <div class="aside__head">
                        <div class="aside__wrapp">
                            <img class="odil aside__img" src="http://instagram-newap.herokuapp.com/img/Najot-taimN.jpg" width="50" height="50" alt="">
                            <h4 class="aside__title">Najot Ta'lim</h4>
                            <div class="dots dots4">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                    <img class="wrapper__imgss" width="740" height="600" src="http://instagram-newap.herokuapp.com/img/Najot-talim2.jpg" alt="">
                    <div class="aside__footer">
                        <div class="aside__imgs">
                            <i class='bx bx-heart'></i>
                            <i class='bx bx-message-rounded'></i>
                            <i class='bx bx-navigation'></i>
                            <i class='bx bx-bookmark'></i>
                        </div>
                        <h4 class="aside__footer--title">Views: 50 500</h4>
                        <h6 class="aside__footer--text" >Najot ta'lim: <mark> Najot tam'lim markaizida imtihon</mark> </h6>
                        <div class="aside__foot">
                            <i class='bx bx-smile'></i>
                            <input class="aside__input" type="text" placeholder="comment....">
                            <p class="aside__foot--title">send</p>
                        </div>
                    </div>
                </div> <!--end of aside -->
               </div>  <!-- end of aside__box -->
              </div>
           <div class="wrapper__right">
            <div class="wrapper__box">
                <a class="Insta1" href="http://instagram-newap.herokuapp.com/insta1">
                   <img class="odil box__img" src="http://instagram-newap.herokuapp.com/img/odil.jpg" width="50" height="50" alt="">
                   <h4 class="wrapper__title">Odilbek developer</h4>
                </a>
            </div>
            <ul class="wrapper__list">
                <h2 class="list__head">Recommendations for you  all</h2>
                <li class="wrapper__item">
                    <a class="Insta2" href="http://instagram-newap.herokuapp.com/insta3">
                        <img class="odil box__img" src="http://instagram-newap.herokuapp.com/img/Abbos4.jpg" width="50" height="50" alt="">
                        <h4 class="wrapper__text">Abbos Abdullayev</h4>
                    </a>
                </li>
                <li class="wrapper__item">
                    <a class="Insta2" href="http://instagram-newap.herokuapp.com/insta2">
                        <img class="odil box__img" src="http://instagram-newap.herokuapp.com/img/Saidbek4.jpg" width="50" height="50" alt="">
                        <h4 class="wrapper__text">Saidbek Atambayev</h4>
                    </a>
                </li>
                <li class="wrapper__item">
                   <a class="Insta2" href="http://instagram-newap.herokuapp.com/insta4">
                    <img class="odil box__img" src="http://instagram-newap.herokuapp.com/img/Aziz2.jpg" width="50" height="50" alt="">
                    <h4 class="wrapper__text">Abdurashidov Azizbek</h4>
                   </a>
                </li>
                <li class="wrapper__item">
                    <a class="Insta2" href="http://instagram-newap.herokuapp.com/insta5">
                        <img class="odil box__img" src="http://instagram-newap.herokuapp.com/img/Najot-taimN.jpg" width="50" height="50" alt="">
                        <h4 class="wrapper__text">Najot ta'lim </h4>
                    </a>
                </li>
            </ul>
        </div>
       </div>  <!-- end of box -->
     </div> 
  </section> <!-- end of section -->
</body>
</html>